.terminos-condiciones {
    padding: 10px;
}

.botones-terms {
    left: 60px;
    height: 100px;
    width: 200px;
    bottom: 10px;
    padding-left: 20px;
    background-color: rgb(27, 86, 248);
}